dataset collection/
Dissertation Progress/
main/
Handpicked images and Videos/
Visdrone Labeled Images/
VisDrone2019-DET-train/
VisDrone2019-DET-val/
weights/
__pycache__/
various/
thesis-backup/

#
*names

