numpy
scipy
scikit-learn
scikit-image

pandas
cython
tqdm

pillow==7.1.0 
opencv-python

torch==1.13.1
torchvision==0.4.0
efficientnet_pytorch


git+https://github.com/abhi-kumar/cocoapi.git#egg=pycocotools&subdirectory=PythonAPI

jupyter 
notebook

dicttoxml
xmltodict